{% extends "app/base.html" %}
{% block title %}Добавить контент{% endblock %}
{% load static %}

{% block content %}
<div class="container mt-4">
    <h2>Добавить новый контент</h2>
    <form method="post" enctype="multipart/form-data" class="mt-4 add-content-form">
        {% csrf_token %}
        
        <div class="row mb-4">
            <div class="col-md-8">
                <div class="form-group">
                    {{ form.search_title.label_tag }}
                    <div class="input-group">
                        {{ form.search_title }}
                        <div class="input-group-append">
                            <button type="button" class="btn btn-primary" id="search-content">Поиск</button>
                        </div>
                    </div>
                    <small class="form-text text-muted">Введите название фильма или сериала для автоматического заполнения информации</small>
                </div>
                <div class="form-group">
                    {{ form.content_type.label_tag }}
                    <div class="form-check form-check-inline">
                        {{ form.content_type }}
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    {{ form.title.label_tag }}
                    {{ form.title }}
                </div>
                <div class="form-group">
                    {{ form.genre.label_tag }}
                    {{ form.genre }}
                </div>
                <div class="form-group">
                    {{ form.status.label_tag }}
                    {{ form.status }}
                </div>
                <div class="form-group">
                    {{ form.rating.label_tag }}
                    {{ form.rating }}
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    {{ form.release_year.label_tag }}
                    {{ form.release_year }}
                </div>
                <div class="form-group">
                    {{ form.country.label_tag }}
                    {{ form.country }}
                </div>
                <div class="form-group">
                    {{ form.director.label_tag }}
                    {{ form.director }}
                </div>
                <div class="form-group">
                    {{ form.actor.label_tag }}
                    {{ form.actor }}
                </div>
                <div class="form-group">
                    {{ form.image.label_tag }}
                    {{ form.image }}
                    <div id="poster-preview" class="mt-2"></div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <div class="form-group">
                    {{ form.description.label_tag }}
                    {{ form.description }}
                </div>
                <div class="form-group">
                    {{ form.comment.label_tag }}
                    {{ form.comment }}
                </div>
            </div>
        </div>

        <div style="display:none;">
            {{ form.tmdb_id }}
            {{ form.tmdb_type }}
        </div>

        <div class="mt-4">
            <button type="submit" class="btn btn-primary">Сохранить</button>
            <a href="{% url 'home' %}" class="btn-cancel">Отмена</a>
        </div>
    </form>
</div>

{% block extra_js %}
<script>
// ... удалён дублирующийся JS-код поиска ...
</script>
{% endblock %}
{% endblock %} 